.search-panel{
    display: flex;
    background-color: white;
    width: 98%;
    margin: auto;
    height: 200px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 16px;
}
.search-panel{
    display: flex;
    flex-direction: column;
    &__data{
        display: flex;
        justify-content: space-between;
        
    }
    .button{
        margin: 50px 0px 10px 0px;
    }
}